parameters:
    level: 8
    paths:
        - src
    excludePaths:
        analyseAndScan:
            - src/Resources (?)
    # DE: Symfony Serializer Attributes werden zur Laufzeit aufgelöst
    # EN: Symfony Serializer attributes are resolved at runtime
    ignoreErrors:
        - '#Attribute class Symfony\\Component\\Serializer\\Attribute\\SerializedName does not exist#'
        - '#Attribute class Symfony\\Component\\Serializer\\Attribute\\Ignore does not exist#'
