services:
    _defaults:
        autowire: true
        autoconfigure: true

    # OIDC Client with Discovery Caching and Logging
    Jostkleigrewe\Sso\Client\OidcClient:
        factory: ['Jostkleigrewe\Sso\Bundle\Factory\OidcClientFactory', 'create']
        arguments:
            $issuer: '%eurip_sso.issuer%'
            $clientId: '%eurip_sso.client_id%'
            $redirectUri: '%eurip_sso.redirect_uri%'
            $httpClient: '@Psr\Http\Client\ClientInterface'
            $requestFactory: '@Psr\Http\Message\RequestFactoryInterface'
            $streamFactory: '@Psr\Http\Message\StreamFactoryInterface'
            $clientSecret: '%eurip_sso.client_secret%'
            $publicIssuer: '%eurip_sso.public_issuer%'
            $cache: '@?eurip_sso.cache_pool'
            $cacheTtl: '%eurip_sso.cache.ttl%'
            $logger: '@?Psr\Log\LoggerInterface'

    # Conditional cache pool reference
    eurip_sso.cache_pool:
        class: Symfony\Contracts\Cache\CacheInterface
        factory: ['@service_container', 'get']
        arguments: ['%eurip_sso.cache.pool%']

    # Security Authenticator (optional - requires OidcUserProviderInterface implementation)
    Jostkleigrewe\Sso\Bundle\Security\OidcAuthenticator:
        arguments:
            $oidcClient: '@Jostkleigrewe\Sso\Client\OidcClient'
            $userProvider: '@Jostkleigrewe\Sso\Bundle\Security\OidcUserProviderInterface'
            $scopes: '%eurip_sso.scopes%'
            $callbackRoute: '%eurip_sso.authenticator.callback_route%'
            $defaultTargetPath: '%eurip_sso.authenticator.default_target_path%'
            $loginPath: '%eurip_sso.authenticator.login_path%'
            $verifySignature: '%eurip_sso.authenticator.verify_signature%'

    # Alias for convenience
    eurip_sso.client:
        alias: Jostkleigrewe\Sso\Client\OidcClient
        public: true
