services:
    _defaults:
        autowire: true
        autoconfigure: true

    Jostkleigrewe\Sso\Client\OidcClient:
        factory: ['Jostkleigrewe\Sso\Bundle\Factory\OidcClientFactory', 'create']
        arguments:
            $issuer: '%eurip_sso.issuer%'
            $clientId: '%eurip_sso.client_id%'
            $clientSecret: '%eurip_sso.client_secret%'
            $redirectUri: '%eurip_sso.redirect_uri%'

    Jostkleigrewe\Sso\Bundle\Factory\OidcClientFactory:
        arguments:
            $httpClient: '@Psr\Http\Client\ClientInterface'
            $requestFactory: '@Psr\Http\Message\RequestFactoryInterface'
            $streamFactory: '@Psr\Http\Message\StreamFactoryInterface'

    Jostkleigrewe\Sso\Bundle\Security\OidcAuthenticator:
        arguments:
            $scopes: '%eurip_sso.scopes%'

    # Alias for convenience
    eurip_sso.client:
        alias: Jostkleigrewe\Sso\Client\OidcClient
        public: true
